{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row text-center">
    <a href="/" class="lang-logo">
      <img src="/images/logo.jpg">
    </a>
    <h1>Ireland Junior Women's Payment Form</h1>
  </div>
  <div class="row" id="main_form">
    <div class="col-sm-4 col-lg-12" id="payment-space">
      <h3>
        <span class="glyphicon glyphicon-euro"></span> Pay for the Ireland Junior Women's Trial
      </h3>
      <form id="payment-form" onsubmit="return false">
        <section>
          <fieldset>
            <label>
              <span>Player Name</span>
              <input name="player_name" id="player-name" class="field" placeholder="Player Name" required>
            </label>
            <label>
              <span>Name on Card</span>
              <input name="name" id="cardholder-name" class="field" placeholder="Name on Card" required>
            </label>
            <label>
              <span>Email</span>
              <input name="email" id="cardholder-email" type="email" class="field" placeholder="example@runhard.com" required>
            </label>
          </fieldset>
        </section>
        <section>
          <div class="payment-info card visible">
            <fieldset>
              <label>
                <span>Card</span>
                <div id="card-element" class="field"></div>
              </label>
            </fieldset>
          </div>
        </section>
        <input type="hidden" id="client-secret" name="client_secret" value="{{ client_secret }}">
        <button id="card-button">Pay €5</button>
      </form>
    </div>
    <div id="confirmation">
      <div class="status success">
        <h1>Thanks for paying!</h1>
        <p></p>
        <p class="note">We just sent your receipt to your email address, We'll be in touch soon with more details.</p>
      </div>
      <div class="status error">
        <h1>Payment failed.</h1>
        <p>It looks like your order could not be paid at this time. Please try again or use a different card.</p>
        <p class="error-message"></p>
      </div>
    </div>
  </div> <!-- row -->
</div>

<script src="js/payment.js"></script>
  
{% endblock %}
