{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <a href="/" class="lang-logo">
      <img src="/images/logo.jpg">
    </a>
    <h1>Dublin Run Hard Indoor League</h1>
  </div>
  <div class="row">
    <div class="col-sm-4 col-lg-12">
      <h3><span class="glyphicon glyphicon-euro"></span> Pay for the Indoor League</h3>
<form id="payment-form">
        <p class="instruction">Pay for the Indoor League</p>
        <section>
          <fieldset>
            <label>
              <span>Player Name</span>
              <input name="player_name" class="field" placeholder="Player Name" required>
            </label>
            <label>
              <span>Name on Card</span>
              <input name="name" id="cardholder-name" class="field" placeholder="Name on Card" required>
            </label>
            <label>
              <span>Email</span>
              <input name="email" type="email" class="field" placeholder="example@example.com" required>
            </label>
          </fieldset>
        </section>
        <section>
          <div class="payment-info card visible">
            <fieldset>
              <label>
                <span>Card</span>
                <div id="card-element" class="field"></div>
              </label>
            </fieldset>
          </div>
        </section>
        <input type="hidden" id="client_secret" name="client_secret" value="{{ client_secret }}">
        <button id="card-button">Pay €20</button>
      </form>
    </div>
  </div> <!-- row -->
</div>

<script src="js/payment.js"></script>
  
{% endblock %}
