<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="schedule"><span class="glyphicon glyphicon-calendar"></span> Schedule</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="mailto:masterclassultimate@gmail.com"><span class="glyphicon glyphicon-envelope"></span> Get in Touch</a>
      </li>
    </ul>
  </div>
</nav>
