{% extends "layout.html" %}

{% block content %}
<div class="container">
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <h1><span class="glyphicon glyphicon-calendar"></span> Schedule of Play</h1>
        <table class="table table-striped">
          <tr>
            <td>23rd September</td><td>Week  1</td>
          </tr>
          <tr>
            <td>30th September</td><td>Break</td>
          </tr>
          <tr>
            <td>7th October</td><td>Week  2</td>
          </tr>
          <tr>
            <td>14th October</td><td>Week  3</td>
          </tr>
          <tr>
            <td>21st October</td><td>Week  4</td>
          </tr>
          <tr>
            <td>28th October</td><td>Break</td>
          </tr>
          <tr>
            <td>4th November</td><td>Week  5</td>
          </tr>
          <tr>
            <td>11th November</td><td>Week  6</td>
          </tr>
          <tr>
            <td>18th November</td><td>Break</td>
          </tr>
          <tr>
            <td>25th November</td><td>Week  7</td>
          </tr>
          <tr>
            <td>2nd December</td><td>Week  8</td>
          </tr>
          <tr>
            <td>9th December</td><td>Week  9</td>
          </tr>
          <tr>
            <td>16th December</td><td>Week  10</td>
          </tr>
        </table>
    </div>
  </div>
</div>

{% endblock %}
